<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="Oidc:RedirectUri" value="https://localhost:5005/authorization-code/callback" />-->
    <add key="SharepointSiteURL" value="https://my.cifor.org/" />
    <add key="trusted_connection" value="false" />
    <add key="database_server" value="roby" />
    <add key="database_catalog" value="CI.Procurement" />
    <add key="database_app_catalog" value="CI.Procurement" />
    <add key="database_user" value="sa" />
    <add key="database_password" value="sa" />
    <add key="database_timeout" value="0" />
    <add key="home_url" value="http://my-staging.cifor.org/" />
    <add key="myTree_URL" value="https://ciforicraf.ocs.cgiar.org/" />
    <add key="workspace_image" value="tree-moss-and-mushrooms-1920x1080-wallpaper-9694.jpg" />
    <add key="aboutme_image" value="fresh-mushrooms-2880x1800-wallpaper-13279.jpg" />
    <add key="staffdirectory_image" value="sunflower-hdr-1920x1080-wallpaper-8931.jpg" />
    <add key="projectmg_image" value="moss-2560x1600-wallpaper-4877.jpg" />
    <add key="total_news_per_load" value="12" />
    <add key="total_news_export_list" value="100" />
    <add key="SearchWebService" value="https://my.cifor.org/_vti_bin/search.asmx" />
    <add key="SearchLocalMode" value="Y" />
    <add key="App_Name" value="Procurement" />
    <add key="App_Pool_Name" value="Procurement" />
    <add key="App_Home_Url" value="/main.aspx" />
    <add key="App_File_Url" value="Files" />
    <add key="Item_File_Url" value="/Item/Files/" />
    <add key="test_user" value="hastuty" />
    <add key="redirect_page" value="/main.aspx" />
    <add key="service_url" value="/Service.aspx" />
    <add key="justification_file_link_200" value="https://my.cifor.org/Documents/Administration/2020/Justification%20file%20for%20PR%20USD%20200%20-%20USD%201,000.docx" />
    <add key="justification_file_link_1000" value="https://my.cifor.org/Documents/Administration/2020/Justification%20file%20for%20PR%20USD%201,000%20-%20USD%2025,000.docx" />
    <add key="justification_file_link_2500" value="https://my.cifor.org/Documents/Administration/2020/Justification%20file%20for%20PR%20more%20than%2025,000.docx" />
    <add key="justification_file_link_below_25000" value="https://my-staging.cifor.org/Documents/Administration/Justification%20file%20for%20PR%20below%20USD%2025,000.docx" />
    <add key="justification_file_link_above_25000" value="https://my-staging.cifor.org/Documents/Administration/Justification%20file%20for%20PR%20above%20USD%2025,000.docx" />
    <!--NOTIFICATION CONFIGURATION-->
    <add key="email_test_recipients" value="cifor-sysdev20@cgiar.org;cifor-sysdev23@cgiar.org;" />
    <add key="email_test_recipients_cc" value="cifor-sysdev19@cgiar.org;" />
    <add key="email_test_recipients_bcc" value="cifor-sysdev18@cgiar.org;" />
    <add key="dbNotification" value="XENCIFOR03j" />
    <add key="dbNotificationName" value="dbCIFORMail" />
    <add key="dbNotificationUser" value="app_user" />
    <add key="dbNotificationPassword" value="vVKem$bYGLz@" />
    <add key="NOTIFICATION_TEST_MODE" value="true" />
    <add key="NOTIFICATION_IS_ACTIVE" value="true" />
    <add key="NOTIFICATION_LINK" value="https://my-staging.cifor.org/Workspace/Procurement/{0}/Detail.aspx?id={1}" />
    <!--<add key="MAIL_ATTACHMENT" value="\\xencifor01a\mailfiles$\" />-->
    <add key="MAIL_ATTACHMENT" value="C:\mailfiles\" />
    <add key="appsender" value="Procurement" />
    <add key="email_sender" value="myCIFOR-systems@cgiar.org;" />
    <add key="user_testing" value="cifor-sysdev48" />
    <add key="module_name" value="PURCHASE REQUISITION" />
    <add key="email_type" value="CLOSED" />
    <!-- WORKFLOW CONFIGURATION -->
    <add key="K2Active" value="true" />
    <add key="K2serverName" value="Xencifor03i" />
    <add key="K2serverPort" value="5252" />
    <add key="K2hostServerPort" value="5555" />
    <add key="K2isPrimaryLogin" value="true" />
    <add key="K2isIntegrated" value="false" />
    <add key="K2userID" value="CGIARAD\cifor-sysdev28" />
    <add key="K2password" value="Pa$$w0rd18" />
    <add key="K2viewFlowURL" value="http://172.18.1.239:81" />
    <add key="K2FolderName" value="CIProcurement" />
    <add key="K2ProcessName" value="PurchaseRequisition" />
    <add key="K2ProcessNamePO" value="PurchaseOrder" />
    <add key="K2ProcessNameSS" value="SingleSourcing" />
    <add key="K2FolioName" value="_[Module]_" />
    <add key="K2ApiKey" value="y@nk9kDHaw2gQj3SZFBry+fNg9$refEBDzq#" />
    <add key="K2ApiEndpoint" value="https://api.cifor.org/k2api-stg" />
    <add key="MySubmissionSvcEndpoint" value="https://integratedportal-dev.cifor.org:8085/mysubmission" />
    <add key="AccessToken" value="" />
    <add key="FundsCheckBearerToken" value="" />
    <add key="FundsCheckUrl" value="https://ciforicraf.ocs.cgiar.org/api/FundsCheck/GetResult" />
    <add key="DirectorGeneralTeamId" value="ODG" />
    <add key="DirectorGeneralExecutiveTeamId" value="ODG-E" />
    <add key="DirectorCorporateServiceTeamId" value="DCS" />
    <add key="access_denied" value="https://localhost:5005/AccessDenied" />
    <add key="AccessManagementUrl" value="https://integratedportal-dev.cifor.org:8085/Accesscontrol" />
    <add key="WebUrl" value="" />
    <add key="RefreshURL" value="https://localhost:5005/Refresh.aspx" />
    <add key="based_url" value="" />
    <add key="mytree_logout_url" value="https://localhost:5005/Index?handler=Logout" />
    <add key="path_url" value="" />
    <add key="cifor_icon_path" value="https://www.cifor.org/images/CIFOR-LOGO.PNG" />
    <add key="icraf_icon_path" value="https://www.cifor.org/images/ICRAF-logo.png" />
    <add key="rl_icon_path" value="https://www.cifor.org/images/RL-logo.png" />
    <add key="glf_icon_path" value="https://www.cifor.org/images/glf-logo.png" />
    <add key="mytree_logout_url" value="https://localhost:5005/Index?handler=Logout" />
    <!-- PROCUREMENT REPORTING -->
    <add key="PO_Report" value="Purchase_Order_Report" />
    <add key="PR_Report" value="Purchase_Requisition_Report" />
    <!-- PROCUREMENT REPORTING END-->
    <!--<add key="ProcurementService_Url" value="/Workspace/Procurement/main.aspx" />-->
    <!--<add key="Master:static:path" value="/webformassets" />-->
    <add key="Master:static:path" value="D:\WORK\CIFOR\HTMLCSS\library\assets" />
    <add key="PRLEADONE" value="PRCLEAD1" />
    <add key="PRLEADTWO" value="PRCLEAD2" />
    <!-- PROCUREMENT REPORTING -->
    <add key="PO_Report" value="Purchase_Order_Report" />
    <add key="PR_Report" value="Purchase_Requisition_Report" />
    <!-- PROCUREMENT REPORTING END-->
    <!--<add key="owin:AutomaticAppStartup" value="true"/>
      <add key="owin:appStartup" value="myTree.WebForms.Timesystem.Startup" />-->
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="Oidc:ExpireTokenInMinutes" value="240" />
    <add key="Master:static:assets" value="D:\WORK\CIFOR\HTMLCSS\library\assets" />
    <add key="Oidc:ClientId" value="myCIFOR" />
    <add key="Oidc:ClientSecret" value="secret" />
    <add key="Oidc:Authority" value="https://integratedportal-dev.cifor.org/identity" />
    <add key="Oidc:UserInfoEndpoint" value="/connect/userinfo" />
    <add key="Oidc:TokenInfoEndpoint" value="/connect/token" />
    <add key="Oidc:RedirectUri" value="https://localhost:5005/signin-oidc" />
    <add key="Oidc:PostLogoutRedirectUri" value="https://localhost:5005/" />
    <add key="Oidc:ExpireTokenInMinutes" value="60" />
    <add key="Master:static:path" value="/assets" />
    <!--<add key="owin:AutomaticAppStartup" value="true"/>
	    <add key="owin:appStartup" value="myTree.WebForms.Timesystem.Startup" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>